{{#each cards}}
  <div class="col-sm-3 col-md-2">
    <div class="wrapper">
      <div id="card-{{@index}}" class="card" data-cardvalue="{{this}}">
        <div class="front">

        </div>
        <div class="back">
          <div class="value">{{this}}</div>
        </div>
      </div>
    </div>
  </div>
{{/each}}