.card .front {
	border: 5px solid #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	background-image: url(../img/logo.jpg);
	background-size: 100%;
	min-height: 150px;
}

.card .back {
	border: 5px solid #fff;
	background-color: #fff;
	min-height: 150px;

}

.value {
	color: #fff;
	text-align: center;
	font-size: 36px;
	line-height: 150px;
}


.wrapper {
	margin-top: 20px;
	min-height: 160px;
}
